

.iconClothyWoman{
    /* Vector */

position: absolute;
left: 20.37%;
right: 20.37%;
top: 3.12%;
bottom: 15.09%;

background: #000000;

}

@media (min-width:990px) {
    .nav-item-show{
        display: none;
    }

}
@media (max-width:990px) {
    .nav-item-hide{
        display: none;
    }

}


