<header class="confi-text">
    <app-navbar-component />
</header>
<main class="">
    <section>
        <app-index></app-index>
    </section>
    <section class="mb-negative5">
        <app-list-products></app-list-products>
    </section>
    <section class="">
        <app-categories-gigant></app-categories-gigant>
    </section>
    <section class="">
        <app-values-and-blog></app-values-and-blog>
    </section>
    <footer>
        <app-reviews class=""></app-reviews>
        <app-footer></app-footer>
    </footer>
    <router-outlet />
</main>


