<div class="row mx-5">
    <div class=" row  col-lg-5 col-md-4 col-sm-12">
        <div class="overflow-hidden collection-image ">
            <div class="col m-5  px-0 position-absolute">
              <span class="row fs-1 fw-bolder principal-index-Text">Latest Collections</span>
              <button class="row btn col fw-bold  px-5  py-2 fs-5 bg-transparent border border-dark text-dark border-2" type="button">Explore collections</button>
            </div>
            <img class="bd-placeholder-img card-img-top" src="assets/images/womanCollection.png">

        </div>
    </div>
    <div class=" col-lg-7 col-md-12 col-sm-12">
        <div class="d-flex align-items-center mt-negative1">
            <span class="row fs-1 fw-bolder principal-index-Text ms-1 ">Featured Products</span>

            <span class="row fs-5  principal-index-Text ms-3 ">More</span>
        </div>

        <div class=" row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 h-75">
            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="assets/images/woman-dress01.png">
                <div class="card-body">
                  <p class="card-text text-black-50 fw-bolder">Dresses</p>
                  <div class="d-flex">
                    <span class="w-100 fw-bolder">Red falling dress</span>
                    <span class="flex-shrink-1 text-black-50 fw-bolder">80€</span>
                  </div>
                  
                  <div class="d-flex justify-content-between align-items-center">
    
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" src="assets/images/woman-dress02.png">
                  <div class="card-body">
                    <p class="card-text text-black-50 fw-bolder">Pants</p>
                    <div class="d-flex">
                      <span class="w-100 fw-bolder">Long jeans</span>
                      <span class="flex-shrink-1 text-black-50 fw-bolder">50€</span>
                    </div>
                    
                    <div class="d-flex justify-content-between align-items-center">
      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" src="assets/images/woman-dress03.png">
                  <div class="card-body">
                    <p class="card-text text-black-50 fw-bolder">Shorts</p>
                    <div class="d-flex">
                      <span class="w-100 fw-bolder">Black chanel pants</span>
                      <span class="flex-shrink-1 text-black-50 fw-bolder">25€</span>
                    </div>
                    
                    <div class="d-flex justify-content-between align-items-center">
      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" src="assets/images/woman-dress04.png">
                  <div class="card-body">
                    <p class="card-text text-black-50 fw-bolder">Tops</p>
                    <div class="d-flex">
                      <span class="w-100 fw-bolder ">White short top</span>
                      <span class="flex-shrink-1 text-black-50 fw-bolder">25€</span>
                    </div>
                    
                    <div class="d-flex justify-content-between align-items-center">
      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" src="assets/images/woman-dress05.png">
                  <div class="card-body">
                    <p class="card-text text-black-50 fw-bolder">Jackets</p>
                    <div class="d-flex">
                      <span class="w-100 fw-bolder ">Black elegant jacket</span>
                      <span class="flex-shrink-1 text-black-50 fw-bolder">180€</span>
                    </div>
                    
                    <div class="d-flex justify-content-between align-items-center">
      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" src="assets/images/woman-dress06.png">
                  <div class="card-body">
                    <p class="card-text text-black-50 fw-bolder">Skirts</p>
                    <div class="d-flex">
                      <span class="w-100 fw-bolder">Beige long skirt</span>
                      <span class="flex-shrink-1 text-black-50 fw-bolder">60€</span>
                    </div>
                    
                    <div class="d-flex justify-content-between align-items-center">
      
                    </div>
                  </div>
                </div>
              </div>
              
    </div>
    
    

</div>
