<div class="row mx-5">
    <div class="col-5  ">
        <div class="overflow-hidden collection-image ">
            <div class="col m-5  px-0 position-absolute">
              <span class="row fs-1 fw-bolder principal-index-Text">Latest Collections</span>
              <button class="row btn col fw-bold  px-5  py-2 fs-5 bg-transparent border border-dark text-dark " type="button">Explore collections</button>
            </div>
            <img class="bd-placeholder-img card-img-top" src="assets/images/womanCollection.png">

        </div>
    </div>
    <div class="col-7">
        <div class="d-flex align-items-center mt-negative1">
            <span class="row fs-1 fw-bolder principal-index-Text ms-1 ">Featured Products</span>

            <span class="row fs-5  principal-index-Text ms-3 ">More</span>
        </div>

        <div class=" row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 h-75">
            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="assets/images/woman-dress01.png">
                <div class="card-body">
                  <p class="card-text text-black-50">Dresses</p>
                  <div class="d-flex">
                    <span class="w-100 fw-bolder">Red falling dress</span>
                    <span class="flex-shrink-1 text-black-50">80€</span>
                  </div>
                  
                  <div class="d-flex justify-content-between align-items-center">
    
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" src="assets/images/woman-dress01.png">
                  <div class="card-body">
                    <p class="card-text text-black-50">Dresses</p>
                    <div class="d-flex">
                      <span class="w-100 fw-bolder">Red falling dress</span>
                      <span class="flex-shrink-1 text-black-50">80€</span>
                    </div>
                    
                    <div class="d-flex justify-content-between align-items-center">
      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" src="assets/images/woman-dress01.png">
                  <div class="card-body">
                    <p class="card-text text-black-50">Dresses</p>
                    <div class="d-flex">
                      <span class="w-100 fw-bolder">Red falling dress</span>
                      <span class="flex-shrink-1 text-black-50">80€</span>
                    </div>
                    
                    <div class="d-flex justify-content-between align-items-center">
      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" src="assets/images/woman-dress01.png">
                  <div class="card-body">
                    <p class="card-text text-black-50">Dresses</p>
                    <div class="d-flex">
                      <span class="w-100 fw-bolder">Red falling dress</span>
                      <span class="flex-shrink-1 text-black-50">80€</span>
                    </div>
                    
                    <div class="d-flex justify-content-between align-items-center">
      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" src="assets/images/woman-dress01.png">
                  <div class="card-body">
                    <p class="card-text text-black-50">Dresses</p>
                    <div class="d-flex">
                      <span class="w-100 fw-bolder">Red falling dress</span>
                      <span class="flex-shrink-1 text-black-50">80€</span>
                    </div>
                    
                    <div class="d-flex justify-content-between align-items-center">
      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" src="assets/images/woman-dress01.png">
                  <div class="card-body">
                    <p class="card-text text-black-50">Dresses</p>
                    <div class="d-flex">
                      <span class="w-100 fw-bolder">Red falling dress</span>
                      <span class="flex-shrink-1 text-black-50">80€</span>
                    </div>
                    
                    <div class="d-flex justify-content-between align-items-center">
      
                    </div>
                  </div>
                </div>
              </div>
              
    </div>
    
    

</div>
