

<section class="row align-items-md-stretch">
    <article class="col-md-5 d-flex justify-content-center align-items-center">
        <div class="text-">
            <h3 class="fs-2 text-secondary">Aesthetic your way of living</h3>
            <h1 class="fs-1 fw-bolder principal-index-Text">Wear the trendy <br> fall collection</h1>
            <h3 class="fs-2 text-secondary">Purchase now and save 10% for your next ticket</h3>
            <button class="btn fw-bolder px-5 btn-primary border-white text-dark btn-lg" type="button">Show now</button>
        </div>

    </article>
    <article class="overflow-hidden col-md-7 image-styles d-flex align-items-center justify-content-end vw-60">
        <img class=" float-end h-auto " src="../../assets/images/womanImgIndex.jpeg">
    </article>
</section>
<section>

    <div class="   m-5 ">
        <div class="row mb-4">
            <button class="btn col fw-bold mx-2 px-5  py-2 fs-5 btn-secondary border border-dark text-dark " type="button">Dresses</button>
            <button class="btn col fw-bold mx-2 px-5  py-2 fs-5 btn-secondary border border-dark text-dark " type="button">Swim</button>
            <button class="btn col fw-bold mx-2 px-5  py-2 fs-5 btn-secondary border border-dark text-dark " type="button">Denim</button>
            <button class="btn col fw-bold mx-2 px-5  py-2 fs-5 btn-secondary border border-dark text-dark " type="button">Tailoring</button>
            <button class="btn col fw-bold mx-2 px-5  py-2 fs-5 btn-secondary border border-dark text-dark " type="button">Sweats</button>
            <button class="btn col fw-bold mx-2 px-5  py-2 fs-5 btn-secondary border border-dark text-dark " type="button">Shorts</button>
            <button class="btn col fw-bold mx-2 px-5  py-2 fs-5 btn-secondary border border-dark text-dark " type="button">Underwear</button>
        </div>
        <div class="row mb-4">
            <button class="btn col fw-bold mx-2 px-5  py-2 fs-5 btn-secondary border border-dark text-dark " type="button">Dresses</button>
            <button class="btn col fw-bold mx-2 px-5  py-2 fs-5 btn-secondary border border-dark text-dark " type="button">Swim</button>
            <button class="btn col fw-bold mx-2 px-5  py-2 fs-5 btn-secondary border border-dark text-dark " type="button">Denim</button>
            <button class="btn col fw-bold mx-2 px-5  py-2 fs-5 btn-secondary border border-dark text-dark " type="button">Tailoring</button>
            <button class="btn col fw-bold mx-2 px-5  py-2 fs-5 btn-secondary border border-dark text-dark " type="button">Sweats</button>
            <button class="btn col fw-bold mx-2 px-5  py-2 fs-5 btn-secondary border border-dark text-dark " type="button">Shorts</button>
            <button class="btn col fw-bold mx-2 px-5  py-2 fs-5 btn-secondary border border-dark text-dark " type="button">Underwear</button>
        </div>

    </div>
</section>
