
.principal-index-Text{
    /* Wear the trendy fall collection */



font-family: 'Futura';
font-style: normal;
font-weight: 700;
font-size: 5em !important;
line-height: 66px;

color: #000000;


}

.image-styles{
    height: 50em;
}

