<div class="row mx-5 mb-5 d-flex justify-content-center mt-negative5 mt-n1">
    <div class=" row row-cols-1  row-cols-md-3 g-3 h-100 row-cols-lg-3 row-cols-sm-1 row-cols-md-2 ">
        <div class="col  h-50">
          <div class="card shadow-sm h-25  d-flex align-items-center col">
            <div class="col m-5  px-0 position-absolute">
                <span class="row fs-1 fw-bolder principal-index-Text">New arrivals</span>
            </div>
            <img class="bd-placeholder-img card-img-top object-fit-cover" src="assets/images/image-category01.png">
           
          </div>
        </div>
        <div class="col  h-50">
            <div class="card shadow-sm h-25  d-flex align-items-center ">
              <div class="col m-5  px-0 position-absolute">
                  <span class="row fs-1 fw-bolder principal-index-Text">Complement yourself</span>
              </div>
              <img class="bd-placeholder-img card-img-top object-fit-cover" src="assets/images/image-category02.png">
             
            </div>
          </div>
          <div class="col  h-50">
            <div class="card shadow-sm h-25  d-flex align-items-center ">
              <div class="col m-5  px-0 position-absolute">
                  <span class="row fs-1 fw-bolder principal-index-Text">Do a gift</span>
              </div>
              <img class="bd-placeholder-img card-img-top object-fit-cover" src="assets/images/image-category03.png">
             
            </div>
          </div>
          <div class="col  h-50">
            <div class=" h-auto  min-vh-25  d-flex align-items-center d-flex justify-content-center align-items-center">
              <div class="col m-5  px-0  mt-5">
                  <span class="row fs-1 fw-bolder principal-index-Text mt-3">New arrivals</span>
                  <button class="btn fw-bolder px-5 btn-primary border-white text-dark btn-lg   mt-4" type="button">Show now</button>
              </div>
              <!-- <img class="bd-placeholder-img card-img-top object-fit-cover" src="assets/images/image-category01.png"> -->
             
            </div>
          </div>
          <div class="col  h-50">
            <div class="card shadow-sm h-25  d-flex align-items-center ">
              <div class="col m-5  px-0 position-absolute">
                  <span class="row fs-1 fw-bolder principal-index-Text"></span>
              </div>
              <img class="bd-placeholder-img card-img-top object-fit-cover" src="assets/images/image-category04.png">
             
            </div>
          </div>
          <div class="col  h-50">
            <div class="card shadow-sm h-25  d-flex align-items-center ">
              <div class="col m-5  px-0 position-absolute">
                  <span class="row fs-1 fw-bolder principal-index-Text"></span>
              </div>
              <img class="bd-placeholder-img card-img-top object-fit-cover" src="assets/images/image-category05.png">
             
            </div>
          </div>
    </div>
</div>