<div class="  text-center col-12 bg-primary py-5 mt-5">  
    <div class="  d-flex justify-content-center col-12 ">
        <div class="d-flex justify-content-center row row-cols-lg-3 row-cols-sm-1 row-cols-md-2 g-3 col-11    ">
            <div class="col-3 ">
              <div class="mx-5">
                <img class="rounded-circle  bd-placeholder-img " src="assets/images/image-blog-01.png" height="row-cols-md-2" width="100px" alt="">
      
                <div class="card-body">
                  <p class="card-text fs-5 fw-normal"><span class="comillas-style">❝</span>A huge experience to search and find what I want involve in a beautiful interface made it with a lot of love<span  class="comillas-style">❞</span></p>
                  <a class="display-5 fs-3 fw-bolder principal-index-Text nav-link active" href="#">Amanda Jones</a>
                </div>
              </div>
            </div>
            <div class="col-3">
                <div class="mx-5">
                  <img class="rounded-circle  bd-placeholder-img " src="assets/images/image-blog-01.png" height="row-cols-md-2" width="100px" alt="">
      
                  <div class="card-body">
                      <p class="card-text fs-5 fw-normal"><span class="comillas-style">❝</span>Very good website and customer service when I had to do a clothing return, they answer inmediately and did the things fast<span  class="comillas-style">❞</span></p>
                      <a class="display-5 fs-3 fw-bolder principal-index-Text nav-link active" href="#">Kelly Richards</a>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class=" mx-5">
                  <img class="rounded-circle  bd-placeholder-img " src="assets/images/image-blog-01.png" height="row-cols-md-2" width="100px" alt="">
      
                  <div class="card-body"> 
                      <p class="card-text fs-5 fw-normal"><span class="comillas-style">❝</span>They are really professionals, giving advices to fit the best clothes with a very good price. I will recommend it<span  class="comillas-style">❞</span></p>
                      <a class="display-5 fs-3 fw-bolder principal-index-Text nav-link active" href="#">John Stones</a>
                  </div>
                </div>
              </div>
              
    </div>
</div>