/* You can add global styles to this file, and also import other style files */


.bg-primary{
    /* Rectangle 2 */
/*
position: absolute;
width: 1440px;
height: 120px;
left: 0px;
top: 40px;
*/
background: #FCDFB0 !important;

}
.btn-primary{
    background: #FCDFB0 !important;

}
.btn-secondary{
    /* Frame 3 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 60px;
gap: 1px;


background: #F5F4F4 !important;
border: 2px solid #222222 !important;
border-radius: 10px;

}

.confi-text{
    /* Clothy Woman */


    font-family: 'Futura'  !important;
    font-style: normal  !important;
    font-weight: 700 !important;


}


.line-separated::after{
    position: absolute !important;
    top: 10px !important; /* Ajusta este valor para la separación desde el techo */
    bottom: 10px !important; /* Ajusta este valor para la separación desde el piso */
    right: 0 !important; /* Línea en el lado derecho */
    width: 1px !important; /* Grosor de la línea */
    background-color: #000  !important; /* Color de la línea */
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0 solid; 
    border-right: 0 solid transparent; 
    border-bottom: 0; 
    border-left: 0 solid transparent; 
}

mt-negative1{
    margin-top: -2em;
}
